/*
Thea
*/
/*
Basic Imports
*/
body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f2f2f2; }

.thea-flex {
  display: flex; }

.thea-container {
  margin: auto;
  max-width: 1170px; }

.thea-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin: 0; }

.thea-row.highlight:hover {
  background-color: rgba(248, 248, 248, 0.35); }

.thea-row * {
  padding: 12px; }

.thea-flex1 {
  flex: 1; }

.thea-flex5 {
  flex: 5; }

/*
Basics
*/
body.thea-full {
  padding: 0;
  margin: 0; }

h1.thea-title {
  font-weight: 300;
  font-size: 24px;
  font-size: 2.4rem; }

.thea-heading {
  font-weight: 300;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 12px; }

.thea-spacer {
  height: 24px; }

.thea-spacer-large {
  height: 48px; }

.thea-spacer-actionbar {
  height: 60px; }

/*
Advanced Layouts
*/
/*
Split View
*/
.thea-splitview {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }

.thea-splitview-left {
  flex: 1;
  flex-shrink: 2;
  max-width: 260px;
  margin-right: 20px; }

.thea-splitview-right {
  flex: 4;
  margin-right: 12px; }

.thea-drawer {
  color: #212127;
  background-color: #ebebeb; }

.thea-drawer.thea-dark {
  color: #f2f2f2;
  background-color: #212127; }

/*
Action Bar
*/
.thea-actionbar {
  width: 100%;
  background-color: #e0e0e0;
  color: #1b1b21;
  height: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row; }
  .thea-actionbar .thea-title {
    flex: 1;
    font-weight: 500;
    font-size: 12px;
    font-size: 1.2rem; }
  .thea-actionbar .thea-actionbaritem {
    cursor: pointer;
    outline: none;
    height: 100%;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-size: 1rem; }
  .thea-actionbar .thea-actionbaritem:hover {
    background-color: #c7c7c7; }
  .thea-actionbar .thea-selected {
    background-color: #c7c7c7; }

.thea-actionbar.thea-pin {
  position: fixed;
  left: 0;
  top: 0; }

.thea-actionbar * {
  align-self: center;
  padding-left: 12px;
  padding-right: 12px; }

.thea-actionbar :first-child {
  padding-left: 12px; }

.thea-actionbar :last-child {
  margin-right: 24px; }

.thea-actionbar.thea-dark {
  background-color: #1b1b21;
  color: #f2f2f2; }
  .thea-actionbar.thea-dark .thea-actionbaritem:hover {
    background-color: #32323d; }
  .thea-actionbar.thea-dark .thea-selected {
    background-color: #32323d; }

/*
Boxes
*/
.thea-box {
  border: 1px solid #d1d1d1;
  background-color: #efefef;
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px; }
  .thea-box h1 {
    margin-top: 8px; }
  .thea-box .thea-title {
    margin-top: 8px; }

/*
Buttons
*/
.thea-button {
  padding: 12px;
  cursor: pointer;
  font-weight: 500;
  background-color: #f4f4f4;
  border: 1px solid #dbdbdb;
  font-size: 9px;
  font-size: 0.9rem; }

.thea-button:hover:enabled {
  background-color: #dbdbdb; }

.thea-button:disabled {
  cursor: auto; }

.thea-button:focus {
  outline: none; }

.thea-button:active {
  font-size: 8px;
  font-size: 0.8rem;
  padding-left: 14px;
  padding-right: 14px; }

.thea-button.button-round {
  border-radius: 8px; }

.thea-button.button-large {
  padding: 20px;
  font-size: 12px;
  font-size: 1.2rem; }

.thea-button.button-large:active {
  font-size: 11px;
  font-size: 1.1rem;
  padding-left: 24px;
  padding-right: 24px; }

/*
Styles
*/
.thea-button.button-primary {
  color: white;
  background-color: #0848d4;
  border: 1px solid #0637a3; }

.thea-button.button-primary:hover:enabled {
  background-color: #0637a3; }

.thea-button.button-success {
  color: white;
  background-color: #1ca502;
  border: 1px solid #137301; }

.thea-button.button-success:hover:enabled {
  background-color: #137301; }

.thea-button.button-alert {
  color: white;
  background-color: #b43801;
  border: 1px solid #812801; }

.thea-button.button-alert:hover:enabled {
  background-color: #812801; }

.thea-button.button-warn {
  color: white;
  background-color: #cb7e00;
  border: 1px solid #985e00; }

.thea-button.button-warn:hover:enabled {
  background-color: #985e00; }

.thea-button.button-cool {
  color: white;
  background-color: #4db4f8;
  border: 1px solid #1c9ff6; }

.thea-button.button-cool:hover:enabled {
  background-color: #1c9ff6; }

.thea-button.button-dark {
  color: white;
  background-color: #1b1b21;
  border: 1px solid #040405; }

.thea-button.button-dark:hover:enabled {
  background-color: #040405; }
