/*
Thea
*/

/*
Basic Imports
*/

@import "theajs/_scss/thea_colors.scss";
@import "theajs/_scss/thea_fonts.scss";
@import "theajs/_scss/thea_layout.scss";

/*
Basics
*/

body.thea-full {
    padding: 0;
    margin: 0;
}

h1.thea-title {
    font-weight: 300;
    @include thea-font-size(2.4);
}

.thea-heading {
    font-weight: 300;
    @include thea-font-size(1.4);
    margin-bottom: 12px;
}

.thea-spacer {
    height:24px;
}

.thea-spacer-large  {
    height: 48px;
}

.thea-spacer-actionbar {
    height: 60px;
}

/*
Advanced Layouts
*/

@import "theajs/_scss/thea_splitview.scss";

/*
Action Bar
*/

@import "theajs/_scss/thea_actionbar.scss";

/*
Boxes
*/

@import "theajs/_scss/thea_box.scss";

/*
Buttons
*/

@import "theajs/_scss/thea_button.scss";

